$break-points: (
  mobile: 480px,
  table: 720px,
  desktop: 1200px,
);

main {
  margin: 3rem;
}

.photo-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  width: 100%;
  color: white;

  .item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 3px 3px 0px #d1d3d2;
  }

  .skeleton {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    background-color: #d1d3d2;
  }

  .item img {
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .item .button-container {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .item-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    height: 100%;
    visibility: hidden;
  }

  .item:hover .item-overlay {
    visibility: visible;
  }
}

.item:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.fav-button {
  align-self: center;
  display: inline;
  border: 1px solid white;
  border-radius: 40px;
  z-index: 20;
  padding: 0.6rem 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.text-container {
  padding: 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;

  .title {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 20ch;
    margin-bottom: 1rem;
  }

  .divider {
    width: 8rem;
    height: 4px;
    background-color: white;
  }

  .author {
    font-style: italic;
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .photo-container {
    grid-template-columns: 1fr;
  }

  .fav-button {
    padding: 0.4rem 1.2rem;
    font-size: 1rem;
  }

  .text-container {
    font-size: 1rem;

    .title {
      margin-bottom: 0.5rem;
    }

    .divider {
      width: 4rem;
      height: 2px;
    }

    .author {
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 1200px) and (min-width: 720px) {
  .photo-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .fav-button {
    padding: 0.5rem 1.4rem;
    font-size: 1.1rem;
  }

  .text-container {
    font-size: 1.1rem;

    .title {
      margin-bottom: 0.6rem;
    }

    .divider {
      width: 6rem;
      height: 3px;
    }

    .author {
      margin-top: 0.6rem;
    }
  }
}

@media (min-width: 1200px) {
  .photo-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
